.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: darkblue;
}

.price-table-container{
    width: 900px;
    display: flex;
    align-items: center;
    margin: 100px auto;
}

.price-table-container .table{
    width: 300px;
    height: 442px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price-table-container .table:first-child{
    border-radius: 10px 0 0 10px; /*arriba izda, arriba dcha, abajo dcha, abajo izda*/
}
.price-table-container .table:last-child{
    border-radius: 0 10px 10px 0;
}

.price-table-container .table.recommended{
    height: 500px;
    border-radius: 10px;
    padding: 50px 30px 60px 30px; /*Estas medidas son para que queden los elementos de las 3 tablas alineadas en este caso (estan calculadas asi)*/
    z-index: 200;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /*Arriba, abajo, los dos lados*/
}

.price-table-container .table .title{
    font-weight: bold;
    text-align: center;
    font-size: 20px;

}

.price-table-container .table .price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.price-table-container .table .price .currency{
    font-size: 25px;
    font-weight: bold;
}

.price-table-container .table .price .number{
    font-size: 60px;
    font-weight: bold;
}

.price-table-container .table .price .frequency{
    color: #999;
}

.price-table-container .table .features{
    flex: 1; /*Todo el espacio lo ocupa la capa de las features*/
}

.price-table-container .table .features ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price-table-container .table .features ul li{
    display: flex;
    align-items: center;
    gap: 5px;
}
.price-table-container .table .features ul li span.check-circle{
    color: rgb(39, 196, 143);
}

.price-table-container .table .actions .btn{
    display: block;
    text-align: center;
    padding: 20px 0;
    border: solid 1px #999;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #999;
}
.price-table-container .table .actions .btn:hover{
    background-color: #999;
    color: white;
}

.price-table-container .table .actions .btn.recommended{
    background-color: blue;
    color: white;
    border: solid 1px blue;
}

.price-table-container .table .actions .btn.recommended:hover{
    background-color: #1961be;
    border: solid 1px #1961be;

}



